<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <% page_title = "Home" %>
</head>
<body>
  <div class="current_user">
    <%= @user.name %><br>
    <%= @user.status %><br>
    <%= link_to 'プロフィール編集',  edit_user_registration_path %><br>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><br>
    <%= link_to 'アップロード', new_movie_path %>
    </div>
    <div class="user_movies">過去の投稿
      <div class="movie-container">
        <% @user_movies.each do |m| %><hr>
        <%= m.title %><br>
        <%= m.created_at %><br>
        <%= m.subject %><br>
        <%= m.unit %><br>
        <iframe src="https://www.youtube.com/embed/<%= m.link %>" width="280" height="152">
          </iframe><br>
          <%= link_to "詳細", movie_path(m.id) %>
          <% end %>
        </div>
    </div>
  </body>
</html>
